.App {
  text-align: center;
  padding: 15px 2px;
  margin-top: -20px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 190px;
  margin-bottom: 35px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.guitar {
  float: left;
  width: 25px;
  margin-left: 5px;
  margin-top: -4px;
  background-color: #282c34;
  /* display: none; */
}

.task_item {
  width: 250px;
  padding-right: -15px;
  margin-right: 5px;

}

form {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.title-input {
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  color: black;
  margin-top: -5px;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  margin-left: -18px;

  width: 250px;


}



.todosBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 350px;
}

.todoBox {

  background: rgba(48, 55, 73, 0.8);
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  width: 250px;
  height: 25px;
  transition: all 0.2s;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.todoBox:hover {
  transform: scale(1.0);
  cursor: pointer;
}

.completed {
  font-style: italic;
  font-size: 12px;
  background-color:transparent;
  color: white;
  height: 155px;
  margin-top: -57px;
  padding-bottom: 5px;
  padding-top: -5px;
}

.arrow {
  width: 4rem;
  display: block;
  margin: 0.5rem auto;
}

.footer {
  flex-direction: column;
}


.footer-misc {
  margin-top: 1rem;
  display: flex;
}

.footer-misc p {
  margin-top: 1rem;
}

.clear-btn {
  margin-top: 52px;
}

.clear-title {
  margin-bottom: -40px;
  margin-top: 70px;
  font-style: italic;
  font-size: 17px;
}